.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    background: black;
    color: white;
    
}